@use "sass:meta";
@use "@/util";
@use "@/components/icon-button/variables" as icon-button-variables;

.icon-toggle-button {
  padding: icon-button-variables.$padding;
  width: icon-button-variables.$normal-size;
  height: icon-button-variables.$normal-size;
  --border-radius: #{icon-button-variables.$border-radius};
  &::before {
    border-radius: icon-button-variables.$outline-border-radius;
  }
  &--compact {
    padding: icon-button-variables.$compact-padding;
    width: icon-button-variables.$compact-size;
    height: icon-button-variables.$compact-size;
  }
}
