@use "sass:map";
@use "~/theme";
@use "~/theme/typography";
@use "~/theme/elevation";
@use "~/util";
@use "./mixins";
@use "./variables";

.button {
  --button-text: #{rgb(var(--button-text-rgb))};
  --button-outline: #{rgb(var(--button-outline-rgb))};
  --button-fill: #{rgb(var(--button-fill-rgb))};
  --button-filled-text: #{rgb(var(--button-filled-text-rgb))};
  --button-filled-outline: #{rgb(var(--button-filled-outline-rgb))};
  --background-alpha: 0;
  --background: #{rgba(var(--button-text-rgb), var(--background-alpha))};
  --outline-color: var(--button-outline);
  background: var(--background);
  color: var(--button-text);
  text-wrap: nowrap;
  padding: variables.$padding;
  min-height: variables.$min-height;
  border-radius: var(--border-radius);
  transition:
    background 200ms,
    outline 200ms,
    outline-offset 200ms,
    box-shadow 200ms,
    translate 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  @include typography.style("button");

  @include mixins.colors;
  @include theme.states;
  @include theme.focus-ring;

  @at-root button#{&} {
    appearance: none;
    border: none;
  }
  @at-root a#{&} {
    text-decoration: none;
  }
  &:focus:not([data-focus-visible]) {
    outline: none;
  }

  &--outlined,
  &--filled,
  &--elevated {
    position: relative;
    @include theme.outline;
  }
  &--filled,
  &--elevated {
    color: var(--button-filled-text);
    --outline-color: var(--button-filled-outline);
    --background: color-mix(
      in srgb,
      rgb(var(--button-text-rgb)) calc(var(--background-alpha) * 100%),
      rgb(var(--button-fill-rgb))
    );
  }
  &--elevated {
    --shadow: var(--background);
    @include elevation.elevation(2);
    &[data-hovered] {
      translate: -2px -2px;
      @include elevation.elevation(4);
    }
    &[data-focus-visible],
    &[data-pressed] {
      translate: 0 0;
      @include elevation.elevation(2);
    }
  }
  &--compact {
    padding: variables.$compact-padding;
    min-height: variables.$compact-min-height;
    .button__icon {
      &--leading {
        @include util.rtl-box(margin, 0, variables.$compact-icon-spacing);
      }
      &--trailing {
        @include util.rtl-box(margin, variables.$compact-icon-spacing);
      }
    }
  }
  &[data-disabled] {
    opacity: map.get(typography.$emphasis-map, disabled);
  }
  &__icon {
    position: relative;
    vertical-align: middle;
    &--leading {
      @include util.rtl-box(margin, 0, variables.$icon-spacing);
    }
    &--trailing {
      @include util.rtl-box(margin, variables.$icon-spacing);
    }
  }
}
