$hover-time: 200ms;
@use "../components/icon-button.scss";

.card {
  --darkest: var(--yellow2);
  --mid: var(--yellow3);
  --lightest: var(--yellow4);
  --text: var(--yellow-dark);

  display: flex;
  background-color: var(--darkest);
  font-weight: 600;
  position: relative;
  border-radius: 12px;
  max-width: 480px;
  .section {
    background-color: var(--darkest);
    position: relative;
    border-radius: 12px;
    transition: background-color $hover-time, color $hover-time;
    display: flex;
    color: var(--text);
    &::before {
      content: "";
      position: absolute;
      background-color: var(--mid);
      top: 2px;
      bottom: 2px;
      left: 8px;
      right: 8px;
      border-radius: 14px;
      transition: background-color $hover-time;
    }
    .bg {
      background-color: var(--lightest);
      position: absolute;
      top: 4px;
      bottom: 4px;
      left: 16px;
      right: 16px;
      border-radius: 16px;
      transition: background-color $hover-time;
    }
    .content {
      position: relative;
      gap: 8px;
      display: flex;
    }
  }
  .text {
    padding: 16px 24px;
    flex-grow: 1;
    &.checkbox {
      color: var(--text);
      border: none;
      outline: none;
      &[data-hovered],
      &[data-focused],
      &[data-pressed] {
        --darkest: var(--yellow-hover2);
        --mid: var(--yellow-hover3);
        --lightest: var(--yellow-hover4);
        --text: var(--yellow-hover-dark);
      }
      &[data-selected] {
        text-decoration: line-through;
      }
    }
  }
  .actions {
    padding: 4px 20px;
    flex-wrap: wrap;
    flex-shrink: 1;
    .content {
      align-items: center;
    }
    :global(.icon-button) {
      @include icon-button.ink("yellow-dark");
    }
  }
}
