@use "sass:map";
@use "~/theme/typography";
@use "~/theme";
@use "~/util";

$variants: (
  one-line: (
    height: 56px,
    padding-y: 8px,
    align: center,
  ),
  two-line: (
    height: 72px,
    padding-y: 8px,
    align: center,
  ),
  three-line: (
    height: 88px,
    padding-y: 12px,
    align: start,
  ),
);

.list {
  padding: 8px 0;
  @include theme.inner-focus-ring;
  @each $variant, $map in $variants {
    &--#{$variant} {
      @each $key, $value in map.keys($map) {
        --list-#{$key}: #{map.get($map, $key)};
      }
    }
  }
  &__item {
    height: var(--list-height);
    padding: var(--list-padding-y) 16px;
    display: flex;
    align-items: var(--list-align);
    gap: 16px;
    transition: opacity 0.2s;
    @include theme.inner-focus-ring;
    &[data-disabled] {
      pointer-events: none;
      opacity: map.get(typography.$emphasis-map, disabled);
    }
    .avatar {
      width: 40px;
      height: 40px;
      @include typography.style("headline5");
    }
    .icon-button:last-child {
      @include util.rtl-box("margin", 0, -12px);
    }
  }
  &__item-text {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1 1 auto;
    min-width: 0;
  }
  &__text {
    @include typography.defaults;
    margin: 0;
    white-space: nowrap;
    .list__item-text & {
      text-overflow: ellipsis;
      overflow: hidden;
    }
    &--overline {
      @include typography.style("overline", $no-defaults: true);
      color: typography.emphasis("text", "medium");
    }
    &--headline {
      @include typography.style("subtitle1", $no-defaults: true);
      color: typography.emphasis("text", "high");
    }
    &--supporting {
      @include typography.style("caption", $no-defaults: true);
      color: typography.emphasis("text", "medium");
      .list--three-line .list__item-text--no-overline & {
        @supports (-webkit-line-clamp: 2) {
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
          white-space: normal;
        }
      }
    }
  }
  .image {
    flex-shrink: 0;
    height: 56px;
    width: auto;
    &--sixteen-nine {
      height: 64px;
      @include util.rtl-box("margin", -16px);
    }
  }
  &__icon {
    flex-shrink: 0;
    color: typography.emphasis("text", "medium");
  }
}
