@use "~/util";

.todoList {
  background-color: var(--surface);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: min(100vw, 400px);

  .list {
    margin: 0 -16px;
  }
  .section {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  .listContainer {
    padding-bottom: 0;
  }

  .formContainer {
    padding-top: 0;
  }

  .form {
    display: contents;
    :global(.button) {
      align-self: flex-end;
    }
  }
}

.hideLtr {
  @include util.ltr {
    display: none !important;
  }
}

.hideRtl {
  @include util.rtl {
    display: none !important;
  }
}
