@use "sass:map";
@use "~/theme/palette";
@use "~/util";

$default-shades: (
  light: (
    background: 900,
    text: 50,
    button-text: 50,
    button-fill: 800,
  ),
  dark: (
    background: 50,
    text: 900,
    button-text: 900,
    button-fill: 200,
  ),
);

$shade-overrides: ();

@function get-shade($color, $token, $dark: false) {
  @return util.get-shade-with-overrides(
    $default-shades,
    $shade-overrides,
    $color,
    if($dark, "dark", "light"),
    $token
  );
}

$type-colors: (
  "success": "green",
  "info": "blue",
  "warning": "orange",
  "error": "red",
  "default": "gold",
);

$button-default-shades: (
  light: (
    text: map.get($default-shades, light, button-text),
    outline: map.get($default-shades, light, button-text),
    fill: map.get($default-shades, light, button-fill),
    filled-text: map.get($default-shades, light, button-text),
    filled-outline: map.get($default-shades, light, button-text),
  ),
  dark: (
    text: map.get($default-shades, dark, button-text),
    outline: map.get($default-shades, dark, button-text),
    fill: map.get($default-shades, dark, button-fill),
    filled-text: map.get($default-shades, dark, button-text),
    filled-outline: map.get($default-shades, dark, button-text),
  ),
);

$button-shade-overrides: ();
