$color-map: (
  "gold": (
    light: (
      unselected: (
        fill: 500,
        outline: 800,
        outline-focus: 900,
        handle: 800,
        handle-focus: 900,
        icon: 100,
      ),
      selected: (
        fill: 500,
        outline: 500,
        outline-focus: 500,
        handle: 50,
        handle-focus: 100,
        icon: 900,
      ),
    ),
    dark: (
      unselected: (
        fill: 300,
        outline: 300,
        outline-focus: 200,
        handle: 300,
        handle-focus: 200,
        icon: 800,
      ),
      selected: (
        fill: 800,
        outline: 800,
        outline-focus: 800,
        handle: 300,
        handle-focus: 200,
        icon: 900,
      ),
    ),
  ),
  "blue": (
    light: (
      unselected: (
        fill: 500,
        outline: 800,
        outline-focus: 900,
        handle: 800,
        handle-focus: 900,
        icon: 100,
      ),
      selected: (
        fill: 500,
        outline: 500,
        outline-focus: 500,
        handle: 50,
        handle-focus: 100,
        icon: 900,
      ),
    ),
    dark: (
      unselected: (
        fill: 300,
        outline: 300,
        outline-focus: 200,
        handle: 300,
        handle-focus: 200,
        icon: 800,
      ),
      selected: (
        fill: 800,
        outline: 800,
        outline-focus: 800,
        handle: 300,
        handle-focus: 200,
        icon: 900,
      ),
    ),
  ),
  "orange": (
    light: (
      unselected: (
        fill: 500,
        outline: 800,
        outline-focus: 900,
        handle: 800,
        handle-focus: 900,
        icon: 100,
      ),
      selected: (
        fill: 500,
        outline: 500,
        outline-focus: 500,
        handle: 50,
        handle-focus: 100,
        icon: 900,
      ),
    ),
    dark: (
      unselected: (
        fill: 300,
        outline: 300,
        outline-focus: 200,
        handle: 300,
        handle-focus: 200,
        icon: 800,
      ),
      selected: (
        fill: 800,
        outline: 800,
        outline-focus: 800,
        handle: 300,
        handle-focus: 200,
        icon: 900,
      ),
    ),
  ),
  "amber": (
    light: (
      unselected: (
        fill: 500,
        outline: 800,
        outline-focus: 900,
        handle: 800,
        handle-focus: 900,
        icon: 100,
      ),
      selected: (
        fill: 500,
        outline: 500,
        outline-focus: 500,
        handle: 50,
        handle-focus: 100,
        icon: 900,
      ),
    ),
    dark: (
      unselected: (
        fill: 300,
        outline: 300,
        outline-focus: 200,
        handle: 300,
        handle-focus: 200,
        icon: 800,
      ),
      selected: (
        fill: 800,
        outline: 800,
        outline-focus: 800,
        handle: 300,
        handle-focus: 200,
        icon: 900,
      ),
    ),
  ),
  "green": (
    light: (
      unselected: (
        fill: 500,
        outline: 800,
        outline-focus: 900,
        handle: 800,
        handle-focus: 900,
        icon: 100,
      ),
      selected: (
        fill: 500,
        outline: 500,
        outline-focus: 500,
        handle: 50,
        handle-focus: 100,
        icon: 900,
      ),
    ),
    dark: (
      unselected: (
        fill: 300,
        outline: 300,
        outline-focus: 200,
        handle: 300,
        handle-focus: 200,
        icon: 800,
      ),
      selected: (
        fill: 800,
        outline: 800,
        outline-focus: 800,
        handle: 300,
        handle-focus: 200,
        icon: 900,
      ),
    ),
  ),
  "teal": (
    light: (
      unselected: (
        fill: 500,
        outline: 800,
        outline-focus: 900,
        handle: 800,
        handle-focus: 900,
        icon: 100,
      ),
      selected: (
        fill: 500,
        outline: 500,
        outline-focus: 500,
        handle: 50,
        handle-focus: 100,
        icon: 900,
      ),
    ),
    dark: (
      unselected: (
        fill: 300,
        outline: 300,
        outline-focus: 200,
        handle: 300,
        handle-focus: 200,
        icon: 800,
      ),
      selected: (
        fill: 800,
        outline: 800,
        outline-focus: 800,
        handle: 300,
        handle-focus: 200,
        icon: 900,
      ),
    ),
  ),
  "pink": (
    light: (
      unselected: (
        fill: 500,
        outline: 800,
        outline-focus: 900,
        handle: 800,
        handle-focus: 900,
        icon: 100,
      ),
      selected: (
        fill: 500,
        outline: 500,
        outline-focus: 500,
        handle: 50,
        handle-focus: 100,
        icon: 900,
      ),
    ),
    dark: (
      unselected: (
        fill: 300,
        outline: 300,
        outline-focus: 200,
        handle: 300,
        handle-focus: 200,
        icon: 800,
      ),
      selected: (
        fill: 800,
        outline: 800,
        outline-focus: 800,
        handle: 300,
        handle-focus: 200,
        icon: 900,
      ),
    ),
  ),
);
