@use "~/theme/typography";
@use "~/util";

.feedbackCard {
  font-weight: 500;
  .text {
    display: flex;
    padding: 16px 24px;
    text-align: start;
    &[data-selected] {
      text-decoration: line-through;
    }
    .title {
      margin: 0;
      margin-bottom: 8px;
      font-size: 1.25rem;
      font-weight: 600;
    }
  }
}

.quote {
  background-color: rgba(var(--off-white-rgb), 0.6);
  color: typography.emphasis("blue-dark", "medium");
  font-style: italic;
  margin: 16px -8px;
  padding: 8px;
  box-shadow: -4px 0 0 0 var(--orange-dark);
  @include util.rtl {
    box-shadow: 4px 0 0 0 var(--orange-dark);
  }
  :global(.typography--subtitle1) {
    margin-top: 0;
    margin-bottom: 8px;
  }
  :global(.typography--body2) {
    margin: 0;
  }
}
