$hover-time: 200ms;
@use "../../components/icon-button.scss";
@use "../../components/card.scss";

.feedbackCard {
  display: flex;
  background-color: var(--yellow2);
  font-weight: 600;
  position: relative;
  border-radius: 12px;
  max-width: 480px;
  .section {
    display: flex;
    :global(.card__content) {
      gap: 8px;
    }
  }
  .text {
    padding: 16px 24px;
    flex-grow: 1;
    &.checkbox {
      color: var(--text);
      border: none;
      outline: none;
      &[data-hovered],
      &[data-focused],
      &[data-pressed] {
        @include card.hover;
      }
      &[data-selected] {
        text-decoration: line-through;
      }
    }
  }
  .actions {
    padding: 4px 20px;
    flex-wrap: wrap;
    flex-shrink: 1;
    :global(.card__content) {
      align-items: center;
    }
    :global(.icon-button) {
      @include icon-button.ink("yellow-dark");
    }
  }
}
