@use "sass:map";
@use "@/util";

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

$color-map: (
  "good": "green",
  "improvement": "red",
  "neutral": "blue",
);
.category {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  height: 100vh;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  background-size: 256px;
  background-color: var(--dark);
  color: var(--light);
  background-image: var(--img);
  @each $name, $color in $color-map {
    &.#{$name} {
      --dark: var(--#{$color}-dark);
      --light: var(--#{$color}-light);
      --img: url("/assets/#{$color}_bg.svg");
      &::before {
        background: linear-gradient(
          to bottom,
          var(--#{$color}-dark),
          transparent
        );
      }
    }
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: util.to-rem(72px);
  }
  [data-groove="none"] & {
    background-image: none;
    background-color: var(--light);
    color: var(--dark);
    &::before {
      content: none;
    }
  }
}
