@use "sass:map";
@use "~/util";

.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

$color-map: (
  "good": "green",
  "improvement": "red",
  "neutral": "blue",
);
.category {
  padding: 0.5rem;
  height: 100vh;
  background-repeat: repeat;
  background-position: center;
  position: relative;
  background-size: 256px;
  background-color: var(--dark);
  color: var(--light);
  background-image: var(--img);
  @each $name, $color in $color-map {
    &.#{$name} {
      --dark: var(--#{$color}-dark);
      --light: var(--#{$color}-light);
      --img: url("/assets/#{$color}_bg.svg");
      :global(.line-background) {
        --vertical-img: url("/assets/lines/#{$color}_vert.svg");
        --horizontal-img: url("/assets/lines/#{$color}_horiz.svg");
        --corner-img: url("/assets/lines/#{$color}_corner.svg");
        --whorl-img: url("/assets/lines/#{$color}_whorl.svg");
      }
    }
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    position: relative;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: util.to-rem(72px);
    background: linear-gradient(to bottom, var(--dark), transparent);
  }
  [data-groove="none"] & {
    background-image: none;
    background-color: var(--light);
    color: var(--dark);
    &::before {
      content: none;
    }
  }

  :global(.line-background) {
    display: none;
  }
  :global(.line-background-content) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  [data-groove="low_volume"] & {
    background-image: none;
    background-color: var(--light);
    color: var(--dark);
    :global(.line-background) {
      display: flex;
    }
    &::before {
      background: linear-gradient(to bottom, var(--light), transparent);
    }
  }
}
