.toolbar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 0.25rem;
  &--align-start {
    justify-content: flex-start;
  }
  &--align-center {
    justify-content: center;
  }
  &--align-end {
    justify-content: flex-end;
  }
}
