@use "sass:map";
@use "~/theme";
@use "./variables";

@mixin color($name, $color) {
  @each $var, $value in map.get($color, "light") {
    --card-#{$var}-rgb: #{var(--#{$name}-#{$value}-rgb)};
  }
  @include theme.dark {
    @each $var, $value in map.get($color, "dark") {
      --card-#{$var}-rgb: #{var(--#{$name}-#{$value}-rgb)};
    }
  }
}

@mixin colors(
  $default: variables.$default-color,
  $color-map: variables.$color-map
) {
  @include color(map.get($default, color), $default);
  @each $variant, $color in $color-map {
    &--#{$variant} {
      @include color($variant, $color);
    }
  }
}

@mixin action-hover {
  &[data-hovered],
  &[data-focused],
  &[data-pressed] {
    --hover-color: var(--card-outer);
    --focus-color: var(--card-outer);
    --pressed-color: var(--card-outer);

    --card-outer: var(--card-outer-hover);
    --card-mid: var(--card-mid-hover);
    --card-bg: var(--card-bg-hover);

    @content;
  }
}
