$default-color: (
  color: "gold",
  light: (
    outer: 700,
    mid: 300,
    bg: 100,
  ),
  dark: (
    outer: 900,
    mid: 500,
    bg: 200,
  ),
);

$color-map: (
  "blue": (
    light: (
      outer: 700,
      mid: 300,
      bg: 100,
    ),
    dark: (
      outer: 900,
      mid: 500,
      bg: 200,
    ),
  ),
  "green": (
    light: (
      outer: 700,
      mid: 300,
      bg: 100,
    ),
    dark: (
      outer: 900,
      mid: 500,
      bg: 200,
    ),
  ),
  "amber": (
    light: (
      outer: 700,
      mid: 300,
      bg: 100,
    ),
    dark: (
      outer: 900,
      mid: 500,
      bg: 200,
    ),
  ),
  "orange": (
    light: (
      outer: 700,
      mid: 300,
      bg: 100,
    ),
    dark: (
      outer: 900,
      mid: 500,
      bg: 200,
    ),
  ),
  "gold": (
    light: (
      outer: 700,
      mid: 300,
      bg: 100,
    ),
    dark: (
      outer: 900,
      mid: 500,
      bg: 200,
    ),
  ),
  "red": (
    light: (
      outer: 700,
      mid: 300,
      bg: 100,
    ),
    dark: (
      outer: 900,
      mid: 500,
      bg: 200,
    ),
  ),
);
