@use "~/util";

$default-shades: (
  light: (
    outer: 700,
    mid: 300,
    bg: 100,
  ),
  dark: (
    outer: 300,
    mid: 500,
    bg: 900,
  ),
);

$shade-overrides: ();

$default-color: "gold";

@function get-shade($color, $token, $dark: false) {
  @return util.get-shade-with-overrides(
    $default-shades,
    $shade-overrides,
    $color,
    if($dark, "dark", "light"),
    $token
  );
}
