@use "~/theme";
@use "~/theme/elevation";
@use "~/util";
@use "./mixins";

$hover-time: 0.2s;

.card {
  --card-outer: #{rgb(var(--card-outer-rgb))};
  --card-mid: #{rgb(var(--card-mid-rgb))};
  --card-bg: #{rgb(var(--card-bg-rgb))};

  --card-outer-hover: #{rgb(var(--card-outer-hover-rgb))};
  --card-mid-hover: #{rgb(var(--card-mid-hover-rgb))};
  --card-bg-hover: #{rgb(var(--card-bg-hover-rgb))};

  --card-text-rgb: var(--black-rgb);
  --card-text: rgb(var(--card-text-rgb));
  display: flex;
  flex-direction: column;
  --border-radius: 12px;
  border-radius: var(--border-radius);
  position: relative;
  transition:
    background-color $hover-time,
    box-shadow $hover-time,
    translate $hover-time;
  @include mixins.colors;
  &--filled,
  &--raised {
    background-color: var(--card-outer);
    color: var(--card-text);
    .card__bg,
    .card__section__bg {
      background-color: var(--card-bg);
    }
    .card__section {
      background-color: var(--card-outer);
      color: var(--card-text);
      &::before {
        background-color: var(--card-mid);
      }
    }
  }
  &--raised {
    @include elevation.shadow(4);
    &:hover {
      @include elevation.shadow(6);
      translate: -2px -2px;
    }
  }
  &__bg,
  &__section__bg {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 16px;
    right: 16px;
    border-radius: 16px;
    transition: background-color $hover-time;
  }
  &__content,
  &__section-content {
    position: relative;
  }
  &__section {
    position: relative;
    padding: 4px 16px;
    border-radius: 12px;
    transition:
      background-color $hover-time,
      color $hover-time;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      bottom: 2px;
      left: 8px;
      right: 8px;
      border-radius: 14px;
      transition: background-color $hover-time;
    }
    &--primary-action {
      background-color: unset;
      color: unset;
      @at-root button#{&} {
        appearance: none;
        border: none;
        &:focus {
          outline: none;
        }
      }
      @include mixins.action-hover;
    }
    &--actions {
      padding: 8px 16px;
      gap: 8px;
      .card__section-content {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 8px;
        min-height: util.to-rem(52px - 8px);
      }
    }
    @include theme.ripple(var(--card-text), " .card__section-ripple");
    &-ripple {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
  &__action {
    &--icon {
      margin: util.to-rem(-6px) 0;
    }
  }
}
