@use "~/theme";
@use "~/theme/elevation";
@use "./mixins";

$hover-time: 0.2s;

.card {
  --card-outer: #{rgb(var(--card-outer-rgb))};
  --card-mid: #{rgb(var(--card-mid-rgb))};
  --card-bg: #{rgb(var(--card-bg-rgb))};

  --card-outer-hover: #{rgb(var(--card-outer-hover-rgb))};
  --card-mid-hover: #{rgb(var(--card-mid-hover-rgb))};
  --card-bg-hover: #{rgb(var(--card-bg-hover-rgb))};

  --card-radius: var(--border-radius-medium);
  display: flex;
  flex-direction: column;
  border-radius: var(--card-radius);
  position: relative;
  transition:
    background-color $hover-time,
    box-shadow $hover-time;
  @include mixins.colors;
  &::before {
    content: "";
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 8px;
    right: 8px;
    border-radius: calc(var(--card-radius) + 2px);
    transition: background-color $hover-time;
    background-color: var(--card-mid);
  }
  &--filled,
  &--raised {
    background-color: var(--card-outer);
    color: var(--text);
    .card__bg {
      background-color: var(--card-bg);
    }
  }
  &--raised {
    @include elevation.shadow(4);
    &:hover {
      @include elevation.shadow(6);
    }
  }
  &__bg {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 16px;
    right: 16px;
    border-radius: calc(var(--card-radius) + 4px);
    transition: background-color $hover-time;
  }
  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__section {
    padding: 4px 16px;
    border: none;
    &--primary-action {
      position: relative;
      overflow: hidden;
      background-color: unset;
      color: unset;
      @at-root button#{&} {
        appearance: none;
        &:focus {
          outline: none;
        }
      }
      &:first-child {
        border-top-left-radius: var(--card-radius);
        border-top-right-radius: var(--card-radius);
      }
      &:last-child {
        border-bottom-left-radius: var(--card-radius);
        border-bottom-right-radius: var(--card-radius);
      }
    }
    &--actions {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 8px;
      min-height: 52px;
      .icon-button {
        margin: -6px 0;
      }
    }
    @include theme.ripple(var(--text), " .card__section-ripple");
    &-ripple {
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }
  }
}
