@use "sass:map";

$palette: (
  "green": (
    900: #556a3a,
    800: #758c49,
    700: #88a052,
    600: #9db45c,
    500: #adc465,
    400: #b8cd7a,
    300: #c5d692,
    200: #d5e2b0,
    100: #e6edce,
    50: #f5f8ec,
  ),
  "blue": (
    900: #0c5679,
    800: #18769a,
    700: #1987ad,
    600: #2599be,
    500: #2ea6cb,
    400: #45b3d0,
    300: #60c0d5,
    200: #87d2e0,
    100: #b5e4eb,
    50: #e2f5f7,
  ),
  "orange": (
    900: #da611a,
    800: #e5781e,
    700: #ec8621,
    600: #f29525,
    500: #f6a029,
    400: #f7ae3c,
    300: #f8bc5b,
    200: #fad089,
    100: #fbe2b7,
    50: #fdf4e2,
  ),
  "red": (
    900: #a52019,
    800: #b42924,
    700: #c22f2a,
    600: #d33930,
    500: #e14231,
    400: #df514a,
    300: #d7706d,
    200: #e59795,
    100: #f9cbcf,
    50: #fdeaed,
  ),
  "gold": (
    900: #9c5a20,
    800: #a96c24,
    700: #b17829,
    600: #b7852f,
    500: #bb8e35,
    400: #c39d44,
    300: #cbac5e,
    200: #d8c389,
    100: #e7dab7,
    50: #f5f1e2,
  ),
  "brown": (
    900: #3d2319,
    800: #4c3123,
    700: #694934,
    600: #694934,
    500: #74523a,
    400: #8a6b56,
    300: #a08573,
    200: #bda79a,
    100: #dacabf,
    50: #f3eae1,
  ),
  "teal": (
    900: #004628,
    800: #006241,
    700: #00724e,
    600: #00825c,
    500: #008e67,
    400: #15a07a,
    300: #3eb18f,
    200: #75c8ae,
    100: #acddcd,
    50: #ddf2ec,
  ),
  "pink": (
    900: #780034,
    800: #9a083a,
    700: #ae113c,
    600: #c2173f,
    500: #d11c40,
    400: #d93a59,
    300: #e15b75,
    200: #ea899b,
    100: #f3b7c2,
    50: #fae2e6,
  ),
  "amber": (
    900: #ff7003,
    800: #ff9005,
    700: #ffa105,
    600: #ffb406,
    500: #ffc20e,
    400: #ffcb2b,
    300: #ffd651,
    200: #ffe083,
    100: #ffecb4,
    50: #fff8e1,
  ),
);

$standards: (
  white: #f5f5f5,
  sand: #e7e6df,
  black: #3d2319,
  shadow: black,
);

$colors: map.keys($palette);
