$border-radius: (
  none: 0,
  // checkbox
  xx-small: 2px,
  // autocomplete
  // select menu
  // snackbars
  // standard menu
  // text fields
  // tooltip
  x-small: 4px,
  // chips
  // rich tooltip
  small: 8px,
  // card
  // small FAB
  medium: 12px,
  // extended FAB
  // FAB
  // navigation drawer
  large: 16px,
  // bottom sheets
  // dialogs
  // floating sheets
  // large FAB
  // docked search view
  // time picker/input
  x-large: 28px,
  // badge
  // buttons
  // icon buttons
  // sliders
  // switches
  // search bar
  full: 9999px,
);
