@use "~/theme/typography";
@use "~/util";

.divider {
  border: none;
  --divider: #{typography.emphasis("text", "divider")};
  background-color: var(--divider);
  width: 100%;
  height: 1px;
  margin: 8px 0;
  .card__content > & {
    margin: 0;
  }
  &.divider--inset {
    width: calc(100% - 16px);
    @include util.reflexive-box("margin", 16px);
  }
  &.divider--middle {
    margin-left: 16px;
    margin-right: 16px;
    width: calc(100% - 32px);
  }
  &[aria-orientation="vertical"] {
    width: 1px;
    height: 100%;
    margin: 0 8px;
    &.divider--inset {
      margin-top: 16px;
      height: calc(100% - 16px);
    }
    &.divider--middle {
      margin-top: 16px;
      margin-bottom: 16px;
      height: calc(100% - 32px);
    }
  }
  &--hide-if-last {
    &:last-child {
      display: none;
    }
  }
}
