@use "~/theme/typography";

.popover {
  display: flex;
  overflow: hidden;
  :global(.line-background-content) {
    display: flex;
    overflow: hidden;
  }
}

.dialog {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:focus {
    outline: none;
  }
  .title {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: typography.emphasis("text", "high");
  }
  .list {
    border: 1px solid typography.emphasis("text", "divider");
    border-radius: var(--border-radius-m);
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 128px;
}
