@use "sass:meta";
@use "@/util";

.icon-button {
  padding: 14px;
  width: util.to-rem(48px);
  height: util.to-rem(48px);
  --border-radius: 50%;
  &::before {
    border-radius: inherit;
  }
  &--compact {
    padding: 8px;
    width: util.to-rem(40px);
    height: util.to-rem(40px);
  }
}
