@use "./card";

.card.floating-button {
  position: fixed;
  bottom: 32px;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 12px 0 0 12px;
  border: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 12px 4px 24px;
  &::before {
    border-radius: 14px 0 0 14px;
    right: 0;
  }
  .card__bg {
    border-radius: 16px 0 0 16px;
    right: 0;
  }
  .card__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  &--extended {
    width: auto;
    .floating-button__label {
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
  &:focus {
    outline: none;
  }
  &[data-hovered],
  &[data-focused] {
    @include card.hover;
  }
}
