@use "sass:map";
@use "sass:meta";

@mixin states($color, $state-opacities) {
  @each $state, $opacity in $state-opacities {
    --#{$state}-color: #{if(
        meta.type-of($color) == "color",
        #{rgba($color, $opacity)},
        rgba(var(--#{$color}-rgb), #{$opacity})
      )};
  }
}

$default-state-opacities: (
  hover: 0.1,
  focus: 0.2,
  pressed: 0.25,
);

@mixin ink($color, $state-opacities: ()) {
  $state-opacities: map.merge($default-state-opacities, $state-opacities);
  color: if(meta.type-of($color) == "color", $color, var(--#{$color}));
  @include states($color, $state-opacities);
}

.icon-button {
  @include ink(black);
  background: none;
  border: none;
  padding: 8px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: background 200ms, outline 200ms, outline-offset 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  &[data-hovered] {
    background: var(--hover-color);
  }
  &[data-focused] {
    background: var(--focus-color);
    outline: none;
  }
  &[data-pressed] {
    background: var(--pressed-color);
  }
  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}
