@use "sass:map";
@use "sass:meta";
@use "@/util/theme";

$default-state-opacities: (
  hover: 0.1,
  focus: 0.2,
  pressed: 0.25,
);

@mixin states($color, $state-opacities: ()) {
  @each $state,
    $opacity in map.merge($default-state-opacities, $state-opacities)
  {
    --#{$state}-color: #{if(
        meta.type-of($color) == "color",
        #{rgba($color, $opacity)},
        rgba(var(--#{$color}-rgb), #{$opacity})
      )};
  }
}

@mixin ink-rgb($var, $state-opacities: ()) {
  color: rgb(var(--#{$var}-rgb));
  @include states($var, $state-opacities);
}

@mixin ink($color, $state-opacities: ()) {
  color: if(meta.type-of($color) == "color", $color, var(--#{$color}));
  @include states($color, $state-opacities);
}

.icon-button {
  @include ink(black);
  background: none;
  border: none;
  padding: 14px;
  width: theme.to-rem(48px);
  height: theme.to-rem(48px);
  border-radius: 50%;
  transition:
    background 200ms,
    outline 200ms,
    outline-offset 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
  &[data-hovered] {
    background: var(--hover-color);
  }
  &[data-focused] {
    background: var(--focus-color);
    outline: none;
  }
  &[data-pressed] {
    background: var(--pressed-color);
  }
  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}
