@use "~/theme";
@use "~/theme/typography";

.checkbox-container {
  --selected-color: var(--gold-500);
  --selected-color-pressed: var(--gold-300);
  --checkmark-color: var(--gold-50);
  --border-color: var(--gold-900);
  --border-color-pressed: var(--gold-500);

  display: flex;
  align-items: center;
  gap: 0.5rem;
  line-height: 1;
  transition: opacity 200ms;

  @include typography.style("body1");

  @include theme.dark {
    --selected-color: var(--gold-300);
    --selected-color-pressed: var(--gold-200);
    --checkmark-color: var(--black);
    --border-color: var(--gold-500);
    --border-color-pressed: var(--gold-300);
  }

  .checkbox {
    width: 20px;
    height: 20px;
    border: 2px solid var(--border-color);
    transition: all 200ms;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .checkbox__checkmark {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--checkmark-color);
    stroke-width: 3px;
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    transition: all 200ms;
  }

  &[data-pressed] .checkbox {
    border-color: var(--border-color-pressed);
  }

  &[data-focus-visible] .checkbox {
    outline: var(--outline-width) solid var(--focus-ring-color);
    outline-offset: var(--outline-width);
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox {
      border-color: var(--selected-color);
      background: var(--selected-color);
    }

    &[data-pressed] .checkbox {
      border-color: var(--selected-color-pressed);
      background: var(--selected-color-pressed);
    }

    .checkbox__checkmark {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & svg {
      stroke: none;
      fill: var(--checkmark-color);
    }
  }

  &[data-disabled] {
    opacity: 0.5;
  }
}
