@use "sass:math";
@use "@/theme/typography";
@use "@/theme/elevation";

.dialog {
  position: relative;
  border-radius: 4px;
  background-color: var(--off-white);
  color: typography.emphasis("blue-dark", "high");
  max-height: calc(100% - 32px);
  min-width: 280px;
  @include elevation.elevation(8);
  @media (max-width: 592px) {
    max-width: calc(100vw - 32px);
  }
  @media (min-width: 592px) {
    max-width: 560px;
  }
  &:focus-visible {
    outline: none;
  }
  &-overlay {
    --overlay-rgb: var(--brown-rgb);
    --background-alpha: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--brown-rgb), var(--background-alpha));

    display: flex;
    justify-content: center;
    align-items: center;
    &[data-entering] {
      animation: overlay-fade 300ms;
    }
    &[data-exiting] {
      animation: overlay-fade 300ms reverse;
    }
    &__modal {
      display: contents;
    }
  }
  &__title {
    margin: 0;
    padding: 8px 16px;
  }
  &__content {
    padding: 0 16px;
  }
  &__actions {
    padding: 4px 8px;
    gap: 4px;
  }
  &__background {
    opacity: 0.35;
  }
  [data-entering] & {
    animation:
      dialog-fade 300ms,
      dialog-enter 150ms ease-in;
  }
  [data-exiting] & {
    animation:
      dialog-fade 300ms reverse,
      dialog-exit 150ms ease-out forwards;
  }
}

@keyframes overlay-fade {
  from {
    background-color: rgba(var(--brown-rgb), 0);
  }
  to {
    background-color: rgba(var(--brown-rgb), var(--background-alpha));
  }
}

@keyframes dialog-enter {
  from {
    transform: scale(0.9);
  }
  // go too far, then spring back
  #{(100 - (math.div(75, 300) * 100)) + "%"} {
    transform: scale(1.05);
  }
  to {
    transform: scale(1);
  }
}

@keyframes dialog-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes dialog-exit {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.9);
  }
}
