@use "~/theme";
@use "~/theme/animation";
@use "~/theme/elevation";
@use "~/theme/layout";
@use "~/theme/typography";
@use "~/util";

.dialog {
  position: relative;
  border-radius: 4px;
  background-color: var(--surface);
  color: typography.emphasis("text", "high");
  max-height: calc(100% - 32px);
  min-width: 280px;
  max-width: 600px;
  @include elevation.elevation(8);
  @include layout.breakpoint("phone", "only") {
    max-width: calc(100vw - 32px);
  }
  &:focus-visible {
    outline: none;
  }
  &-overlay {
    --overlay-rgb: var(--black-rgb);
    --background-alpha: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(var(--overlay-rgb), var(--background-alpha));

    display: flex;
    justify-content: center;
    align-items: center;
    &[data-entering] {
      animation: overlay-fade 300ms;
    }
    &[data-exiting] {
      animation: overlay-fade 300ms reverse;
    }
    &__modal {
      display: contents;
    }
  }
  &__title {
    margin: 0;
    padding: 8px 16px;
  }
  &__content {
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__actions {
    padding: 8px 16px;
    gap: 8px;
  }
  [data-entering] & {
    animation:
      dialog-fade 300ms,
      dialog-enter 150ms ease-in;
  }
  [data-exiting] & {
    animation:
      dialog-fade 300ms reverse,
      dialog-exit 150ms ease-out forwards;
  }
  .button--text,
  .button--outlined {
    background-color: rgba(var(--surface-rgb), 0.75);
  }
}

@keyframes overlay-fade {
  from {
    background-color: rgba(var(--overlay-rgb), 0);
  }
  to {
    background-color: rgba(var(--overlay-rgb), var(--background-alpha));
  }
}

@keyframes dialog-enter {
  @include animation.spring-in;
}

@keyframes dialog-fade {
  @include animation.fade-in;
}

@keyframes dialog-exit {
  @include animation.shrink-back;
}
