@use "~/theme/elevation";
@use "~/theme/layout";
@use "~/theme/typography";
@use "~/theme";
@use "~/util";

.title {
  margin: 0;
}

.memberRow {
  .actions {
    flex: 0 0 auto;
  }
}

.memberList {
  border-radius: var(--border-radius-medium);
  overflow: hidden;
  &Card {
    position: relative;
    background-color: var(--surface);
    @include elevation.shadow(4);
    border-radius: 56px * 0.5;
    overflow-x: hidden;
    overflow-y: auto;
  }
  &Container {
    grid-column: span 6;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
