@use "~/theme";
@use "~/theme/typography";

.breadcrumbs {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  --text-color-rgb: var(--black-rgb);
  --text-color: rgb(var(--text-color-rgb));
  color: var(--text-color);
  @include theme.dark {
    --text-color-rgb: var(--white-rgb);
  }
}

.breadcrumb {
  display: flex;
  align-items: center;
  &__icon {
    color: typography.emphasis("text-color", "medium");
  }
  &:last-child {
    .breadcrumb__icon {
      display: none;
    }
  }
  .link {
    color: inherit;
    text-decoration: none;
    &[data-hovered] {
      text-decoration: underline;
    }
    &[data-disabled]:not([data-current]) {
      color: typography.emphasis("text-color", "medium");
    }
    &[data-current] {
      font-weight: 700;
    }
  }
}
