@use "sass:map";
@use "~/theme/animation";
@use "~/theme/typography";
@use "~/theme";
@use "~/util";

$x-placements: (
  "left": right,
  "right": left,
  // RAC doesn't flip in RTL, so we won't either
  "start": right,
  "end": left,
);

$y-placements: (
  "top": bottom,
  "bottom": top,
);

.tooltip {
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 24px;
  border-radius: var(--border-radius);
  --surface: var(--black);
  --text: var(--white);
  background-color: var(--surface);
  color: var(--text);
  @include typography.style("body2");
  @include theme.dark {
    --surface: var(--white);
    --text: var(--black);
  }
  &[data-entering] {
    animation:
      tooltip-enter 120ms ease-in,
      tooltip-fade 120ms;
  }
  &[data-exiting] {
    animation:
      tooltip-exit 120ms ease-out forwards,
      tooltip-fade 120ms reverse;
  }
  @each $x-placement, $x-opposite in $x-placements {
    &[data-placement="#{$x-placement}"] {
      transform-origin: #{$x-opposite};
    }
    @each $y-placement, $y-opposite in $y-placements {
      &[data-placement="#{$x-placement} #{$y-placement}"] {
        transform-origin: #{$x-opposite} #{$y-opposite};
      }
      &[data-placement="#{$y-placement} #{$x-placement}"] {
        transform-origin: #{$y-opposite} #{$x-opposite};
      }
    }
  }
  @each $y-placement, $y-opposite in $y-placements {
    &[data-placement="#{$y-placement}"] {
      transform-origin: #{$y-opposite};
    }
  }
}

@keyframes tooltip-enter {
  @include animation.spring-in;
}

@keyframes tooltip-fade {
  @include animation.fade-in;
}

@keyframes tooltip-exit {
  @include animation.shrink-back;
}
