@use "sass:list";
@use "sass:map";
@use "sass:math";
@use "~/util";
@use "~/theme/typography";
@use "~/theme/palette";
@use "~/theme";

@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@font-face {
  font-family: "Super Dream";
  font-display: swap;
  src:
    local("Super Dream"),
    url("/assets/fonts/Super\ Dream.ttf") format("truetype");
}

@mixin rgb-var($name, $color) {
  --#{$name}-rgb: var(--#{$color}-rgb);
  --#{$name}: rgb(var(--#{$name}-rgb));
}

@mixin color-var($name, $color) {
  --#{$name}-rgb: #{util.get-rgb($color)};
  --#{$name}: rgb(var(--#{$name}-rgb));
}

:root {
  --focus-ring-color: var(--blue-400);
  --outline-width: 2px;
  --border-radius: 8px;

  @each $color, $stops in palette.$palette {
    @each $stop, $value in $stops {
      @include color-var(#{$color}-#{$stop}, $value);
    }
  }

  @each $color, $value in palette.$standards {
    @include color-var(#{$color}, $value);
  }

  @each $name, $weight in map.get(typography.$weights, "light") {
    --typography-weight-#{$name}: #{$weight};
  }

  @each $emphasis, $opacity in typography.$emphasis-map {
    --typography-emphasis-#{$emphasis}: #{$opacity};
  }
  @each $prop, $value in typography.$defaults {
    --typography-default-#{$prop}: #{$value};
  }
  @each $style, $props in typography.$type-scale {
    @each $prop, $value in $props {
      --typography-#{$style}-#{$prop}: #{$value};
    }
  }

  @include rgb-var("background", "sand");
  @include rgb-var("surface", "white");
  @include rgb-var("text", "black");

  --selection-color: var(--gold-500);
  --selection-text-color: var(--white);
}

* {
  box-sizing: border-box;
}

@include theme.dark-root {
  @each $name, $weight in map.get(typography.$weights, "dark") {
    --typography-weight-#{$name}: #{$weight};
  }
  @include rgb-var("background", "brown-900");
  @include rgb-var("surface", "brown-800");
  @include rgb-var("text", "white");

  --selection-color: var(--gold-300);
  --selection-text-color: var(--black);
  --focus-ring-color: var(--blue-200);
  --grad: -25;
}

body {
  background-color: var(--background);
  color: var(--text);
  min-height: 100vh;
  @include typography.defaults;
  ::selection {
    background-color: var(--selection-color);
    color: var(--selection-text-color);
  }
}
