@use "sass:list";
@use "sass:map";
@use "sass:math";

@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Super Dream";
  font-display: swap;
  src: local("Super Dream"),
    url("./assets/fonts/Super\ Dream.ttf") format("truetype");
}

@mixin gradient($name, $stops) {
  $length: list.length($stops);
  :root {
    --#{$name}-length: #{$length};
    @each $stop in $stops {
      $index: list.index($stops, $stop);
      --#{$name}#{$index}: #{$stop};
    }
    --#{$name}-dark: var(--#{$name}1);
    --#{$name}-light: var(--#{$name}#{$length});
    $shadow: "";
    $start: math.max(1, $length - 3);
    @for $i from 0 to 4 {
      $shadow: #{$shadow},
        0
          0
          0
          calc(var(--border-width) * #{$i + 1})
          var(--#{$name}#{$i + $start});
    }
    --#{$name}-shadow: #{$shadow};
    @if $length > 4 {
      $full-shadow: "";
      @for $i from 1 through $length {
        $full-shadow: #{$full-shadow},
          0 0 0 calc(var(--border-width) * #{$i}) var(--#{$name}#{$i});
      }
      --full-#{$name}-shadow: #{$full-shadow};
    }
  }
  .#{$name}-card {
    box-shadow: var(--#{$name}-shadow);
    background-color: var(--#{$name}-light);
    color: var(--#{$name}-dark);
  }
}

:root {
  --border-width: 0.25rem;
  --off-white: #e7e6df;
  --brown: #5a3d2b;
  --focus-ring-color: var(--blue3);
}

$gradients: (
  "green": (
    #1d5434,
    #38663f,
    #9cb45c,
    #ccd5aa,
  ),
  "blue": (
    #001219,
    #084055,
    #005f73,
    #0a9396,
    #94d2bd,
  ),
  "orange": (
    #9b2226,
    #ae2012,
    #bb3e03,
    #ca6702,
    #ee9b00,
    #e9d8a6,
  ),
  "red": (
    #422418,
    #c44d2f,
    #e58165,
    #f0b49c,
    #f6d4bb,
  ),
  "yellow": (
    #24211c,
    #b17929,
    #fcc83f,
    #f4f7c6,
  ),
);

@each $name, $stops in $gradients {
  @include gradient($name, $stops);
}

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--off-white);
  color: var(--brown);
  font-weight: 500;
}

.header {
  background-color: var(--brown);
  color: var(--off-white);
  box-shadow: var(--full-orange-shadow);
  padding: 0.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: calc(var(--border-width) * var(--orange-length));
  img {
    height: 192px * 0.25;
    width: auto;
    image-rendering: high-quality;
  }
  h1 {
    margin: 0;
    font-family: "Super Dream", sans-serif;
    font-weight: 400;
  }
}

.card-demo {
  display: flex;
  padding: 2rem;
  gap: 3rem;
  flex-wrap: wrap;
  justify-content: space-between;
  > div {
    border-radius: 4px;
    padding: 1rem;
    font-weight: 900;
  }
}
