@use "sass:map";
@use "sass:meta";

$default-state-opacities: (
  hovered: 0.15,
  focused: 0.25,
  pressed: 0.3,
);

@mixin states($state-opacities: ()) {
  @each $state,
    $opacity in map.merge($default-state-opacities, $state-opacities)
  {
    &[data-#{$state}] {
      --background-alpha: #{$opacity};
    }
  }
}

@mixin focus-ring {
  &[data-focus-visible] {
    outline: 2px solid var(--focus-ring-color);
    outline-offset: 2px;
  }
}
