@use "sass:color";
@use "sass:math";
@use "sass:map";
@use "sass:meta";

$default-state-opacities: (
  hover: 0.15,
  focus: 0.25,
  pressed: 0.3,
);

@mixin states($color, $state-opacities: ()) {
  @each $state,
    $opacity in map.merge($default-state-opacities, $state-opacities)
  {
    --#{$state}-color: #{if(
        meta.type-of($color) == "color",
        #{rgba($color, $opacity)},
        rgba(var(--#{$color}-rgb), #{$opacity})
      )};
  }
}
