@use "~/theme";

.link {
  --text-color-rgb: var(--blue-500-rgb);
  --text-color: rgb(var(--text-color-rgb));
  color: var(--text-color);
  @include theme.focus-ring;
  @include theme.dark {
    --text-color-rgb: var(--blue-300-rgb);
  }
  &:focus:not([data-focus-visible]) {
    outline: none;
  }
  // TODO: visited
}
